﻿@model TestViewModel

<ul>
    <li>@Model.Getal</li>
    <li>@Model.Tekst</li>
    <li>@Model.DateNow</li>
</ul>

<button class="btn btn-info" id="buttonId" onclick="functie('CocaCola')">Klik op mij</button>

<script type="text/javascript" src="~/js/test.js"></script>